.input-wrapper {
    padding: 40px 92px;
    font-size: 48px;
    text-align: center;
}

.input-wrapper button {
    width: 160px;
    float: none;
}

.input-wrapper > .lotto-paper {
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 52px;
    background-color: #ffffff;
    text-align: left;
}

.input-wrapper > .lotto-paper > img {
    width: 120px;
    margin: auto;
    display: block;
}

.input-wrapper > .lotto-paper > h3 {
    margin: 28px 0 16px;
    text-align: center;
    font-size: 28px;
}

.input-wrapper > .lotto-paper > p {
    margin: 0;
    margin-top: 10px;
    font-size: 22px;
}

.input-wrapper > .lotto-paper > p > span {
    float: right;
    color: #666666;
    font-weight: bold;
}