@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1680px
************/

@media only screen and (max-width: 1680px) {
    .home_slider_prev {
        left: 60px;
    }

    .home_slider_next {
        right: 60px;
    }
}

/************
1. 1600px
************/

@media only screen and (max-width: 1600px) {

}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px) {
    .home_slider_prev {
        left: 30px;
    }

    .home_slider_next {
        right: 30px;
    }
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) {

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px) {

}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
    .main_menu_contact {
        display: none;
    }

    .converter_input {
        width: 64px;
    }

    .dropdown_converter {
        width: 114px;
    }

    .eq {
        width: 35px;
    }
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px) {

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px) {

}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .header.scrolled {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .main_menu_list > li {
        margin-right: 50px;
    }

    .home_slider_nav {
        display: none !important;
    }

    .home_slider_content {
        width: 615px;
        padding-top: 62px;
    }

    .home_slider_content h1 {
        font-size: 56px;
    }

    .home_slider_text {
        width: 80%;
    }

    .intro_image {
        margin-bottom: 50px;
    }

    .converter_container {
        padding-top: 60px;
    }

    .converter_input {
        width: 84px;
    }

    .dropdown_converter {
        width: 134px;
    }

    .eq {
        width: 55px;
    }

    .info_col:not(:last-child) {
        margin-bottom: 60px;
    }

    .news_col:not(:last-child) {
        margin-bottom: 60px;
    }

    .footer_col:not(:last-child) {
        margin-bottom: 50px;
    }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {

}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {

}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {

}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {
    .main_menu_content,
    .register_login {
        display: none !important;
    }

    .logo {
        padding-left: 55px;
    }

    .logo_line_1 {
        font-size: 24px;
    }

    .logo_img {
        top: -8px;
        width: 50px;
    }

    .coins {
        margin-right: 0;
    }

    .coins ul li {
        font-size: 12px;
        margin-right: 13px;
    }

    .burger {
        display: block;
    }

    .main_menu {
        display: none;
    }

    .home_slider_content {
        width: 525px;
    }

    .home_slider_content h1 {
        font-size: 48px;
    }

    .home_slider_text {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .converter_input {
        width: 64px;
    }

    .dropdown_converter {
        width: 114px;
    }

    .eq {
        width: 35px;
    }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    p {
        font-size: 12px;
    }

    h1 {
        font-size: 28px;
    }

    .logo {
        padding-left: 46px;
    }

    .logo_img {
        width: 42px;
    }

    .logo_line_1 {
        font-size: 20px;
    }

    .burger {
        margin-left: 12px;
    }

    .home_slider_content {
        width: calc(100vw - 30px);
        padding-top: 65px;
        padding-bottom: 35px;
    }

    .home_slider_content h1 {
        font-size: 36px;
    }

    .home_slider_text {
        font-size: 14px;
    }

    .link_button {
        width: 120px;
        height: 40px;
    }

    .menu_register_login .register a,
    .menu_register_login .login a {
        font-size: 12px;
    }

    .link_button a {
        font-size: 10px;
        line-height: 40px;
    }

    .coins ul li {
        font-size: 10px;
        margin-right: 4px;
    }

    .menu_item a {
        font-size: 12px;
        line-height: 32px;
    }

    .intro_image {
        margin-right: 0;
    }

    .intro_subtitle {
        font-size: 10px;
        padding-left: 1px;
    }

    .intro_subtitle::after {
        left: 2px;
    }

    .services_title {
        font-size: 20px;
    }

    .services_item {
        padding-left: 25px;
        padding-right: 25px;
    }

    .converter_input {
        height: 36px;
        width: 50px;
        font-size: 12px;
        margin-right: 5px;
    }

    .dropdown_converter {
        width: 90px;
    }

    .eq {
        width: 30px;
        height: 36px;
        font-size: 20px;
        line-height: 36px;
        margin-right: 5px;
    }

    .section_title {
        font-size: 28px;
    }

    .news_content {
        padding-left: 25px;
        padding-right: 25px;
    }

    .news_button {
        left: 25px;
    }

    .footer_links ul li a {
        font-size: 12px;
    }

    .footer_newsletter_input {
        height: 36px;
    }

    .footer_newsletter_button {
        width: 100px;
        height: 36px;
        font-size: 10px;
    }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {

}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {

}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
    h1 {
        font-size: 24px;
    }

    .home_slider_content {
        padding-top: 40px;
        top: 60%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .home_slider_content h1 {
        font-size: 28px;
    }

    .section_title {
        font-size: 24px;
        margin-top: -3px;
    }
}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {

}