<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <div id="user-input">
            <label for="money">
                구입금액
                <input type="number" name="money" id="money">
            </label>
            <label for="manual">
                수동구매
                <input type="number" name="manual" id="manual">
            </label>
        </div>
    </div>
</body>

</html>