<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">

    <title>로또</title>
</head>
<body>
<div id="container">
    <h1>error! 😅</h1>

    <p>
        {{error}}
    </p>

    <input type="submit" value=" 뒤로가기 " onclick="history.back(-1);">
</div>
</body>
</html>