<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로또 게임</title>
</head>
<body>
<div align="center">
    <form action="/main" method="post">
        <h1>Lotto Game</h1>
        <p>구입할 금액을 입력해 주세요.</p>
        <input id="purchase" type="text" name="money">
        <br>
        <br>
        <p>수동로또 개수를 입력해 주세요.</p>
        <input id="customLottoCount" type="text" name="customLottoCount">
        <button type="submit">확인</button>
        <br>
        <br>
    </form>
</div>
</body>
</html>