<!DOCTYPE html>
<html lang="kor">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>로또</title>
</head>

<body>
    <input type="hidden" id="round_hidden" name="round_hidden" value="">
    <input type="hidden" id="purchaseMoney_hidden" name="purchaseMoney_hidden" value="">
    <input type="hidden" id="manualCount_hidden" name="manualCount_hidden" value="">

    <div id="roundInfo">
        <button id="openMoneyInput">새 게임 시작</button>
    </div>
    <br /><br />

    <form action="/money" method="post" style="display:none;" id="moneyForm">
        <h1>구매 금액을 입력해 주세요.</h1>
        <input type="number" id="inputMoney" name="inputMoney" placeholder="로또 구입 금액을 입력하세요 (1000원 이상, 100,000원 이하)">
        <input type="button" id="inputMoneyButton" value="구입">
    </form>
    <br /><br />

    <form action="/manualCount" method="post" style="display:none;" id="manualCount">
        <h1>수동으로 구입할 로또 갯수를 입력하세요.</h1>
        <input type="number" id="inputManualCount" name="inputManualCount" placeholder="수동으로 구입할 로또 갯수를 입력하세요.">
        <input type="button" id="inputManualCountButton" value="입력">
    </form>
    <br /><br />

    <div id="manualLotto"></div>
    <br /><br />

    <div id="purchasedLotto"></div>
    <br /><br />

    <form action="/winningLotto" method="get" style="display:none;" id="winningLotto">
        <h1>지난주 당첨 번호를 입력해 주세요</h1>
        <input type="text" id="inputWinningLotto" name="inputWinningLotto" placeholder="지난주 당첨 번호를 입력해 주세요">
        <input type="text" id="inputBonusNumber" name="inputBonusNumber" placeholder="보너스 번호를 입력해주세요">
        <input type="button" id="inputWinningLottoButton" value="입력">
    </form>

    <div id="lottoResult" style="display:hidden">
        <button id="showResultButton">결과를 보시겠습니까?</button>
    </div>

    <script>
        let newRound;
        let money;
        let manualCount;
        int availableCount;
        let manualLottoNumber;
        let winningottoNumber;
        let bonusNumber;
        let first_prize, second_prize, third_prize, forth_prize, fifth_prize;
        let lottoPrice = 1000;
        
        // 가장 최근의 round 가져오기
        $(document).ready(function () {
            $.ajax({
                url: '/round',
                type: 'GET',
                success: function (latestRound) {
                    newRound = latestRound + 1;
                }
            });
        });

        $(document).on('click', '#openMoneyInput', function () {
            $("#moneyForm").fadeIn();
        });

        // 구입 금액 입력
        $(document).on('click', '#inputMoneyButton', function () {
            let inputMoney = $("#inputMoney").val();
   
            if (inputMoney % lottoPrice !== 0 || inputMoney < lottoPrice || inputMoney > lottoPrice) {
                alert('1,000원 이상, 100,000원 이하로 입력해주세요.');
                return;
            }
        
            money = inputMoney;
            availableCount = money // 1000;
            $("#inputManualCount").val(availableCount);
            $("#manualCount").fadeIn();
        });

        // 수동 로또 구입 갯수 입력
        $(document).on('click', '#inputManualCountButton', function () {
            let inputManualCount = $("#inputManualCount").val();
            if (inputManualCount > availableCount || inputManualCount < 0) {
                alert('0장 이상, ' + availableCount + '장 이하로 구입할 수 있습니다.');
                return;
            }
            manualCount = inputManualCount;
            generateManualLottoInputs();
        });

        // 수동 로또 입력 창 생성
        let generateManualLottoInputs = function () {
            $("manualLotto").empty();
            if (parseInt(manualCount) === 0) {
                return;
            }

            $("#manualLotto").append('<form action="/manualLotto" method="post">');
            for (let i = 0; i < manualCount; i++) {
                $("#manualLotto").append('<input type="text" id="manualLotto' + i + '" name="manualLotto' + i + '" placeholder="로또 번호를 입력하세요"><br/>');
            }
            $("#manualLotto").append('<input type="button" id="inputManualLottoButton" value="확인">');
            $("#manualLotto").append('</form>');
        };

        //수동 로또 구입
        $(document).on('click', '#inputManualLottoButton', function () {

            let params = "round=" + newRound + "&manualLotto=";

            for (let i = 0; i < manualCount; i++) {
                let manualLotto = $("#manualLotto" + i + "").val().replace(' ', '').split(',');

                if (manualLotto.length !== 6) {
                    alert('로또 번호는 6개여야 합니다.');
                    return;
                }

                for (let i = 0; i < manualLotto.length; i++) {
                    if (parseInt(manualLotto[i]) > 45 || parseInt(manualLotto[i]) < 1) {
                        alert('1부터 45이하의 번호를 입력해야 합니다.');
                        return;
                    }
                }

                params += (manualLotto.join(',') + '/');
            }

            $.ajax({
                url: '/manualLotto',
                type: 'GET',
                data: params,
                contentType: 'text/html;charset=UTF-8',
                dataType: 'text',
                success: function () {
                    $("#winningLotto").fadeIn();
                }
            });
        });

        // 지난주 당첨 번호, 보너스 번호 입력
        $(document).on('click', '#inputWinningLottoButton', function () {
            let winningLotto = $("#inputWinningLotto").val().replace(" ", "");
            let bonusNumber = $("#inputBonusNumber").val().replace(" ", "");
            let params = "round=" + round + "&winningLotto=" + winningLotto + "&bonusNumber=" + bonusNumber;

            let splitedWinningLotto = winningLotto.replace(' ', '').split(',');
            let intBonusNumber = parseInt(bonusNumber);

            if (splitedWinningLotto.length !== 6) {
                alert('로또 번호는 6개여야 합니다.');
                return;
            }

            for (let i = 0; i < 6; i++) {
                if (parseInt(splitedWinningLotto[i]) > 45 || parseInt(splitedWinningLotto[i]) < 1) {
                    alert('1부터 45이하의 번호를 입력해야 합니다.');
                    return;
                }
            }

            if (intBonusNumber < 1 || intBonusNumber > 45) {
                alert('1부터 45이하의 보너스 번호를 입력해야 합니다.');
                return;
            }

            if (splitedWinningLotto.includes(bonusNumber)) {
                alert('중복된 보너스 번호입니다.');
                return;
            }

            $.ajax({
                url: '/winningLotto',
                type: 'GET',
                data: params,
                contentType: 'text/html;charset=UTF-8',
                dataType: 'text',
                success: function (data) {
                    $("#lottoResult").fadeIn();
                }
            });
        });
        
        $(document).on('click', '#showResultButton', function () {
            window.location('/showResult');
        }

    </script>
</body>

</html>