<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/lotto.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>로또</title>
</head>
<body>
<div class="card text-center">
    <div class="card-header">
        <div class="list-group" id="list-tab" role="tablist">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="list-group-item list-group-item-action active" id="buy-lotto-list" data-toggle="list"
                       href="#buy-lotto" role="tab" aria-controls="home">이번 회차 로또 구매</a>
                </li>
                <li class="nav-item">
                    <a class="list-group-item list-group-item-action" id="search-lotto-list" data-toggle="list"
                       href="#search-lotto" role="tab" aria-controls="profile">지난 회차 결과 조회</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="card-body">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="buy-lotto" role="tabpanel" aria-labelledby="buy-lotto-list">
                <form action="/manualLotto" method="post">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <tr class="lotto" height="30">
                                    <div class="input-group input-group-lg">
                                        <td>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="purchase-price">구입 금액</span>
                                            </div>
                                        </td>
                                        <td>
                                            <input placeholder="1,000원 ~ 100,000원" type="number" class="form-control"
                                                   aria-label="Sizing example input"
                                                   aria-describedby="inputGroup-sizing-lg" required="true" min="1000"
                                                   max="100000"
                                                   name="price" id="price" onchange="isValidInput()"/>
                                            <span id="validCheck"></span>
                                        </td>
                                    </div>
                                </tr>
                            </div>
                            <div class="col">
                                <tr class="lotto" height="30">
                                    <div class="input-group input-group-lg">
                                        <td>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="manual-count">수동 구매 개수</span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" required="true" name="manualCount" id="manualCount"
                                                   onchange="isValidInput()" class="form-control"
                                                   aria-label="Sizing example input"
                                                   aria-describedby="inputGroup-sizing-lg">
                                        </td>
                                    </div>
                                    <td>
                                        <span id="manualCountMessage"></span>
                                    </td>
                                </tr>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col">
                                <div id="manualLottoDiv" style="max-height: 300px; overflow-y: scroll;">

                                </div>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-lg">다음으로</button>
                                <button type="submit" class="btn btn-secondary btn-lg" onclick="initField()">초기화
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!---조회 기능 구현-->
            <div class="tab-pane fade" id="search-lotto" role="tabpanel" aria-labelledby="search-lotto-list">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <form method="post" action="/searchRound">
                                <select id="round_selector" name="round_selector"
                                        class="custom-select custom-select-lg mb-3">
                                    <option selected>회차를 선택하세요</option>
                                    {{#each rounds}}
                                    <option value="{{this}}">{{this}}회차</option>
                                    {{/each}}
                                </select>
                                <button type="submit" class="btn btn-primary btn-lg">조회</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--- 조회 기능 끝-->
            </div>

        </div>
    </div>
</div>
</body>
</html>