<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/inputmanualquantity.css">

    <title>수동 로또 개수 입력</title>
</head>
<body>
<div class="wrapper">
    <div class="vender" id="vender" style="background-image: url('images/vendersays.png');"></div>
    <div class="input-wrapper">
        <form action="/manual-quantity" method="post">
            <input type="text" name="manual-quantity"> 개 수동으로
            <button type="submit">구매</button>
        <form>
    </div>
</div>

<script>
    var i = 0;
    var txt = "총 {{ totalQuantity }}장의 로또를 구매할 수 있습니다. 이 중 수동으로 구매할 로또의 수를 입력해주세요.";
    var speed = 50; /* The speed/duration of the effect in milliseconds */

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("vender").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
    window.onload = typeWriter;
</script>
</body>
</html>