<!doctype html>
<html lang="en">

<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <title>lotto game</title>
</head>


<style>
      div.lottobuy input {
            max-width: 100px;
      }
      #bonus {
            max-width: 20px;
      }
</style>
<!-- #users 리스트 -->

<body>
      <nav>
            <h3>결과 출력 및 winning 체크</h3>
      </nav>

      <div class="printCount">
            <label id="count"> 수동으로 {{manualCount}} 번, 자동으로 {{autoCount}} 번 구매했습니다. </label>
            <div><i>로또 목록</i></div>
            {{#lottos}}
            {{numbers}}
            <br>
            {{/lottos}}
      </div>

      <form action="/winning" method="post">
            <br>
            <span>당첨 번호 </span> 
            <br>
            <input type="text" name="winninglotto" placeholder="1,2,3,4,5,6" />
            -
            <input id="bonus" type="bonusnum" name="bonusnumber" placeholder="1" maxlength = 2/>
            <input type="submit" value="구입" />
      </form>




      <script src="./js/form2.js"></script>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>