<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <div class="position floatfix">
            <div id="metaData">
                <table>
                    <thead>
                        <tr>
                            <td>구입금액</td>
                            <td>수동로또</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="lottoMoney">{{money}}</td>
                            <td id="manualCount">{{manual}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="history">
            </div>
            <div id="side-right">
                <p class="ball">1</p>
                <p class="ball">2</p>
                <p class="ball">3</p>
                <p class="ball">4</p>
                <p class="ball">5</p>
                <p class="ball">6</p>
                <p class="ball">7</p>
                <p class="ball">8</p>
                <p class="ball">9</p>
                <br class="clearfix">
                <p class="ball">10</p>
                <p class="ball">11</p>
                <p class="ball">12</p>
                <p class="ball">13</p>
                <p class="ball">14</p>
                <p class="ball">15</p>
                <p class="ball">16</p>
                <p class="ball">17</p>
                <p class="ball">18</p>
                <br class="clearfix">
                <p class="ball">19</p>
                <p class="ball">20</p>
                <p class="ball">21</p>
                <p class="ball">22</p>
                <p class="ball">23</p>
                <p class="ball">24</p>
                <p class="ball">25</p>
                <p class="ball">26</p>
                <p class="ball">27</p>
                <br class="clearfix">
                <p class="ball">28</p>
                <p class="ball">29</p>
                <p class="ball">30</p>
                <p class="ball">31</p>
                <p class="ball">32</p>
                <p class="ball">33</p>
                <p class="ball">34</p>
                <p class="ball">35</p>
                <p class="ball">36</p>
                <p class="ball">37</p>
                <p class="ball">38</p>
                <p class="ball">39</p>
                <p class="ball">40</p>
                <p class="ball">41</p>
                <p class="ball">42</p>
                <p class="ball">43</p>
                <p class="ball">44</p>
                <p class="ball">45</p>
            </div>
        </div>
    </div>

</body>

</html>