<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <title>Buddy's LOTTO HTML</title>
</head>
<body>
<div class="container" style="max-width: 500px">
    <h1 class="mt-5 text-center font-weight-bold">Show User Lotto</h1>
    <table class="table table-striped">
        <th scope="col">#</th>
        <th scope="col">Lotto Numbers</th>
        {{#lottos}}
        <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this}}</td>
        </tr>
        {{/lottos}}
    </table>
    <form action="/make/winning" method="post">
        <div class="text-center">
            <button type="submit" class="btn btn-outline-secondary mt-2"> 당첨번호입력하기</button>
        </div>
    </form>
</div>
<script src="/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</body>
</html>
