<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet" type="text/css" />

    <title>로또 번호 입력</title>
</head>

<body>
    <section class="container">
        <h1>로또 번호 입력</h1>
        <form action="/inputLottos" method="post">

            <!-- 반복...? -->
            {{#lottoName}}
            <div class="form-group">
                <label for="lotto_number">{{this}}</label>
                <input type="text" id="lotto_number" name="lotto_number_{{@index}}" class="form-control" placeholder="예) 1,2,3,4,5,6"/>
                <small class="form-text text-muted">로또 번호를 쉼표(,)로 구분하여 입력해주세요.</small>
            </div>
            {{/lottoName}}

            <button type="submit" class="btn btn-primary">진행하기</button>
        </form>
    </section>
</body>

</html>