<!doctype html>
<html lang="en">

<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <title>lotto game</title>
</head>

<body>
      <nav>
            <h3>구입 금액 입력</h3>
      </nav>
      <div id="turns-info" class="main-body">
            <label>제 {{current_turn}} 회 로또 게임</label>
            <form action="/turn" method="post">
                  <div class="turns">
                        {{#turns}}
                        <a href="/turn?current_turn={{this}}">{{this}}회</a>
                        {{/turns}}
                  </div>
            </form>
      </div>
      <br>
      <div id="input-money" class="main-body">
            <form action="/money" method="post">
                  <div class="money">
                        <label>구입 금액 : </label>
                        <input type="text" name="money" />
                        <input type="submit" value="충전" />
                  </div>
            </form>
      </div>
      <br />
      <div id="end-button" class="main-button">
            <form action="/end" method="POST">
                  <input type="hidden" name="token" value="initialize" />
                  <input type="submit" value="초기화" />
            </form>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>