<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로또 구매하기</title>
</head>
<body>
    <h1>수동 구매 수량 입력</h1>
    <form action="/manual">
        총 구매 수량 : <div id="count">{{ count }}</div>
        <br>
        <br>
        수동 구매 수량 : <input id="manual" type="number" min="0" name="manual"/>
        <br>
        <br>
        <input type="submit" value="수동 구매 수량 입력"/>
    </form>
</body>
<script>
    var count = new URLSearchParams(window.location.search).get("amount") / 1000
    document.getElementById("manual").setAttribute("max", count)
</script>
</html>