<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">

    <title>로또</title>
</head>
<body>
<div id="container">
    <h1>로또</h1>

    <p>
        입력하신 금액은 {{money.money}}원입니다.<br>
        수동 구입할 로또 개수를 입력해 주세요.
    </p>

    <form action="/manual" method="POST">
        <input name="number" type="text"><br>
        <input type="submit" value="다음">
    </form>
</div>
</body>
</html>