<!doctype html>
<html lang="ko">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/custom.css">

	<title>로또</title>
</head>

<body class="bg-dark">
	<div class="container mt-5">
		<div class="jumbotron">
			<h3 class="display-4">Purchase Lottery!</h3>
			<hr class="my-4">

			<form>
				<div class="container" id="purchasing">
					<h5>구입 금액</h5>
					<small id="passwordHelpInline" class="text-muted">
						최소 1000원 ~ 최대 100,000원
					</small>
					<div class="form-row align-items-center">
						<div class="col-sm-4 my-1">
							<input type="text" class="form-control" id="inlineFormInputName">
						</div>
					</div>
				</div>


				<hr class="my-3">

				<div class="container">
					<h5>수동 로또 입력</h5>
					<div class="mb-2 mr-2 text-right">
						<button type="button" class="btn btn-success btn-sm btn-round">+</button>
					</div>

					<div class="container">
						<div class="row mb-2">
							<div class="col-10 text-center">
								<div class="btn-group-toggle" data-toggle="buttons">
									<!-- 45개 버튼 for문 넣기 -->
									<label class="btn btn-outline-dark mb-1 active">
										<input type="checkbox" checked autocomplete="off"> 1
									</label>
									<label class="btn btn-outline-dark mb-1">
										<input type="checkbox" checked autocomplete="off"> 2
									</label>
									<label class="btn btn-outline-dark mb-1">
										<input type="checkbox" checked autocomplete="off"> 3
									</label>
									<label class="btn btn-outline-dark mb-1">
										<input type="checkbox" checked autocomplete="off"> 4
									</label>
									<label class="btn btn-outline-dark mb-1">
										<input type="checkbox" checked autocomplete="off"> 5
									</label>
									<label class="btn btn-outline-dark mb-1">
										<input type="checkbox" checked autocomplete="off"> 6
									</label>
									<label class="btn btn-outline-dark mb-1">
										<input type="checkbox" checked autocomplete="off"> 7
									</label>
									<label class="btn btn-outline-dark mb-1">
										<input type="checkbox" checked autocomplete="off"> 8
									</label>
									<label class="btn btn-outline-dark mb-1">
										<input type="checkbox" checked autocomplete="off"> 9
									</label>
									<label class="btn btn-outline-dark mb-1">
										<input type="checkbox" checked autocomplete="off"> 10
									</label>
								</div>
							</div>
							<div class="col-2 text-center">
								<button type="button" class="btn btn-danger btn-sm btn-round vertical-center">-</button>
							</div>
						</div>
					</div>

				</div>

				<div class="col-auto mt-4 text-center">
					<button type="submit" class="btn btn-outline-secondary">구매하기</button>
				</div>

			</form>
		</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body></html>