<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>로또</title>
    <style>
            body {
                background-image: url("./images/lotto_background.jpeg");
                background-repeat:no-repeat;
                background-size:cover;
            }
        </style>
</head>
<body>
<button type="button" class="btn btn-primary m-3" onclick="window.location.href='/'">홈으로</button>
<div class="container" style="text-align: center">
    <form class="text-dark mt-5" method="post" action="/lotto">
        <div class="form-group">
            <label for="money">구입 금액</label>
            <input type="number" class="form-control" id="money" name="money" placeholder="최소 구입 금액은 1000원입니다.">
        </div>
        <div class="form-group">
            <label for="manualLottoCount">수동으로 구매할 로또 개수</label>
            <input type="number" class="form-control" id="manualLottoCount" name="manualLottoCount" placeholder="수동으로 구매할 로또의 개수를 입력해 주세요.">
        </div>
        <div class="form-group">
            <label for="manualLottoNumber">수동 로또 번호</label>
            <textarea class="form-control" id="manualLottoNumber" name="manualLottoNumber" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success">구매</button>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>