<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/reportlookup.css">

    <title>당첨 결과</title>
</head>
<body>
<div class="wrapper">
    <div class="vender" id="vender" style="background-image: url('images/vendersays.png');"></div>
    <div class="input-wrapper">
        <div class="lotto-paper">
            <img src="images/lottologo.jpg" alt="">
            <h3>제 {{ round }}회</h3>
            {{#lottos}}
            <div class="lotto-numbers">
                <span>{{#if isAuto}}자동{{else}}수동{{/if}}</span>
                {{#numbers}}<div class="lotto-number">{{ this }}</div>{{/numbers}}
            </div>
            {{/lottos}}
            <hr>
            {{#winning}}
            <div class="lotto-numbers">
                <span>당첨</span>
                {{#lotto}}{{#numbers}}<div class="lotto-number">{{ this }}</div>{{/numbers}}{{/lotto}}
                <br><span>보너스</span><div class="lotto-number">{{ bonusNumber }}</div>
            </div>
            {{/winning}}
            <hr>
            <p>1등 (2,000,000,000 원) <span>{{values.[0]}}개</span></p>
            <p>2등 (30,000,000 원) <span>{{values.[1]}}개</span></p>
            <p>3등 (1,500,000 원) <span>{{values.[2]}}개</span></p>
            <p>4등 (50,000 원) <span>{{values.[3]}}개</span></p>
            <p>5등 (5,000 원) <span>{{values.[4]}}개</span></p>
            <p>꽝 (0 원) <span>{{values.[5]}}개</span></p>
            <hr>
            {{#result}}
            <p>총 상금 <span>{{ winningMoney }} 원</span></p>
            <p>총 수익률 <span>{{ rOI }} %</span></p>
            {{/result}}
        </div>
        <button onclick="location.href='/money'">다시하기</button>
    </div>
</div>

<script>
    var i = 0;
    var txt = "{{{ message }}}";
    var speed = 50; /* The speed/duration of the effect in milliseconds */

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("vender").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
    window.onload = typeWriter;
</script>
</body>
</html>