<!DOCTYPE html>
<html lang='ko'>

<head>
    <meta charset='UTF-8'>
    <title>로또 게임</title>
</head>
<body>
<h1>해당 회차 결과</h1>
{{round}}회차 <br>
총 {{numberOfTicket}}개 구매 <br>
{{#lottos}}
{{this}} <br>
{{/lottos}}
<br>
-----------------------------------
<br>
당첨번호 <br>
{{winninglotto}} - bouns : {{bonus}} <br>

<br>
-----------------------------------
<br>
당첨 결과 <br>
구입 금액 : {{price}}원<br>
수익률 : {{rateOfLotto}}%<br>
3개 일치 (5,000원)- {{fifth}}개 <br>
4개 일치 (50,000원)- {{fourth}}개 <br>
5개 일치 (1,500,000원)- {{third}}개 <br>
5개 일치, 보너스 볼 일치(30,000,000원) - {{second}}개 <br>
6개 일치 (2,000,000,000원)- {{first}}개 <br>
</body>
<script
        src='https://code.jquery.com/jquery-3.4.1.min.js'
        integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo='
        crossorigin='anonymous'></script>
<script>
    function setround() {
        $('#selected-round').val($('#round-select').val());

        document.getElementById('manual-lotto-form').submit();
    }
</script>
</html>