<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>라운드 조회</title>
</head>
<body>

<h1>{{round}}회 결과</h1>
<button onclick="location.href='/'" value="다시"> 다시시작</button>

<h2>구매 로또</h2>
<table class="table">
    <tbody>
    {{#lottos}}
    <tr>
        <th>{{@index}}</th>
        <td>[{{this}}]</td>
    </tr>
    {{/lottos}}
    </tbody>
</table>

<h3>우승 로또 {{winningLotto}}</h3>

<h3 class="text-center">당첨 통계</h3>
{{#results}}
<div>{{this}}</div>
{{/results}}

<h4 class="text-center">총 수익률은 {{rateOfProfit}}%입니다.</h4>

</body>
</html>