<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>당첨 번호 입력</title>
</head>
<body>
<p><ul class="list-group">
    <li class="list-group-item active">수동으로 {{manualAmount}}장, 자동으로 {{autoAmount}}장 구매했습니다.</li>
    {{#userTickets}}
    <li class="list-group-item">{{this}}</li>
    {{/userTickets}}
</ul></p>

<form action="/winningResult" method="GET">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="winningLotto" style="display:block;width:150px"><b>당첨 번호 입력</b></span>
        </div>
        <input type="text" class="form-control" name="winningLotto" placeholder="쉼표(,)를 기준으로 6개를 입력하세요."
               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="bonusNum" style="display:block;width:150px"><b>보너스 번호 입력</b></span>
        </div>
        <input type="text" class="form-control" name="bonusNum" placeholder="위의 당첨 번호와 중복될 수 없습니다."
               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <input type="submit" value="당첨 결과" class="btn btn-secondary btn-lg btn-block">
</form>

<!-- Optional JavaScript-->
<!-- jQuery first, then Popper.js, then Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>