<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>당첨 결과</title>
</head>
<body>
<p>
<ul class="list-group">
    <li class="list-group-item active">당첨 통계</li>
    <li class="list-group-item">3개 일치 (5,000원) - {{FIFTH}}개</li>
    <li class="list-group-item">4개 일치 (50,000원) - {{FOURTH}}개</li>
    <li class="list-group-item">5개 일치 (1,500,000원) - {{THIRD}}개</li>
    <li class="list-group-item">5개 일치, 보너스 볼 일치 (30,000,000원) - {{SECOND}}개</li>
    <li class="list-group-item">6개 일치 (2,000,000,000원) - {{FIRST}}개</li>
    <li class="list-group-item active">총 수익률은 {{totalYield}}% 입니다.</li>
</ul>
</p>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>