<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Conas의 로또 게임!</title>
    <link rel="stylesheet" href="../css/lottoMain.css">
</head>
<body>
    <h1>Conas의 Lotto Game에 오신 것을 환영합니다.</h1>
    <div>
        <form action="/buyLotto">
            <input type="submit" id="purchase" value="구매하러 가기">
        </form>
    </div>
    <div>
        <form action="/search">
            <input type="number" name="round">
            <input type="submit" id="search" value="목록 조회하기">
        </form>
    </div>
</body>
</html>