<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Conas의 로또 게임!</title>
        <link rel="stylesheet" href="../css/resultOfRound.css">
    </head>
    <body>
        <h1>Lotto 모든 라운드 : 조회 </h1>
        <div id="resultOfRound">
            --------사용자 로또--------<br>
            {{#userLottos}}
                {{this}}<br>
            {{/userLottos}}
            <br><br>
            -------당첨 로또---------<br>
            {{winningLotto}}
            <br><br>
            -------결과 ------------<br>
            {{result}}
        </div>
    </body>
</html>