<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conas의 로또 게임!</title>
        <link rel="stylesheet" href="../css/showLottos.css">
    </head>
    <body>
        {{#webUILottoData}}
        <h1>Lotto <b>{{round}}</b>회차 : 로또 구매 목록 </h1>
        <p> 수동으로 <b>{{countOfManualLotto}}</b>장, 자동으로 <b>{{countOfAutoLotto}}</b>장 구매했습니다.</p>
        {{/webUILottoData}}
        <div id="lottoList">
            {{#manualLottos}}
            수동 : {{this}}<br>
            {{/manualLottos}}

            {{#autoLottos}}
            자동 : {{this}}<br>
            {{/autoLottos}}
        </div>
        <form action="/winningLotto">
            <input type="submit" id="submit" value="다음">
        </form>
    </body>
    <script>

    </script>
</html>